* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-align: center;
  color: orange;
  font-weight: bold;
}
/* .container{
  display: grid;
  grid-template-areas:
  "hd hd"
  "sl sr"
  "ft ft";
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  gap: 10px;
  font-weight: bold;
  margin: 20px;
} */

